{% extends "common_code/base.html" %}
{% block title %}company{% endblock title %}
{% load static %}


{% block content %}
    <!-- PAGE TITLE
    ================================================== -->
    <header class="py-8 py-md-11" style="background-image: none;">
        <div class="container text-center py-xl-2">
            <h1 class="display-4 fw-semi-bold mb-0">আমাদের সম্পর্কে</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-scroll justify-content-center">
                    <li class="breadcrumb-item">
                        <a class="text-gray-800" href="#">
                            হোম
                        </a>
                    </li>
                    <li class="breadcrumb-item text-gray-800 active" aria-current="page">
                        আমাদের সম্পর্কে
                    </li>
                </ol>
            </nav>
        </div>
        <!-- Img -->
        <img class="d-none img-fluid" src="...html" alt="...">
    </header>


    <!-- PRICING
    ================================================== -->
    <div class="container mb-11">
        <div class="row">
            <div class="col-md-4 col-xl-3 mb-6">
                <div class="nav flex-column nav-vertical border rounded px-6 py-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-profile-tab" data-bs-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="true">টার্মস এবং কন্ডিশন</a>
                    <a class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">প্রাইভেসি পলিসি</a>
                    <a class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">রিফান্ড পলিসি</a>
                </div>
            </div>
            <div class="col-md-8 col-xl-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <h3 class="">ব্যক্তিগত তথ্যের সুরক্ষা ও ব্যবহার:</h3>
                        <p class="mb-6">"অন্বেষণ" এ আমরা আমাদের ব্যবহারকারীদের ব্যক্তিগত তথ্যের সুরক্ষা এবং গোপনীয়তা রক্ষা করার জন্য বদ্ধপরিকর। আমাদের প্ল্যাটফর্মে আপনি যখন নিবন্ধন করেন বা কোনো সেবা গ্রহণ করেন, তখন আমরা আপনার কিছু ব্যক্তিগত তথ্য সংগ্রহ করি, যেমন নাম, ইমেইল ঠিকানা, ফোন নম্বর, এবং পেমেন্ট সংক্রান্ত তথ্য। এই তথ্য শুধুমাত্র আপনার সেবা প্রদানের উদ্দেশ্যে এবং আমাদের শিক্ষাগত কার্যক্রম পরিচালনার জন্য ব্যবহৃত হয়।</p>
                        <p class="mb-6">আমরা তৃতীয় পক্ষের সাথে আপনার ব্যক্তিগত তথ্য শেয়ার করি না, ব্যতীত যখন তা আইনি প্রয়োজনে বা আপনার সম্মতির ভিত্তিতে শেয়ার করতে হয়। আমরা আপনার ব্যক্তিগত তথ্য নিরাপদে সংরক্ষণ করার জন্য সর্বাধুনিক নিরাপত্তা ব্যবস্থা ব্যবহার করি। আমাদের সিস্টেমে যে কোনো ধরনের অস্বাভাবিক কার্যকলাপ বা নিরাপত্তা লঙ্ঘন হলে তাৎক্ষণিক ব্যবস্থা গ্রহণ করি।</p>
                        <p class="mb-6">আপনার তথ্যের সুরক্ষা এবং গোপনীয়তা রক্ষা করতে আমরা নিয়মিতভাবে আমাদের নিরাপত্তা নীতি পর্যালোচনা এবং আপডেট করি। এছাড়াও, আপনার অ্যাকাউন্টের তথ্য এবং পাসওয়ার্ড গোপন রাখার দায়িত্বও আপনার। যদি কোনোভাবে আপনার অ্যাকাউন্টের নিরাপত্তা লঙ্ঘন হয়, অনুগ্রহ করে আমাদের অবহিত করুন যাতে আমরা প্রয়োজনীয় ব্যবস্থা নিতে পারি।</p>
                        <p class="mb-6">আমরা কুকিজ ব্যবহার করি আপনার অভিজ্ঞতা উন্নত করতে এবং আমাদের ওয়েবসাইটের কার্যক্ষমতা পর্যালোচনা করতে। এই কুকিজ আপনার ব্রাউজিং অভ্যাস এবং পছন্দ অনুসারে কাস্টমাইজড সেবা প্রদান করতে সাহায্য করে। আপনি চাইলে আপনার ব্রাউজার থেকে কুকিজ নিষ্ক্রিয় করতে পারেন, তবে এতে আমাদের কিছু সেবা সীমাবদ্ধ হতে পারে।</p>
                        <p class="mb-6">আমাদের প্রাইভেসি পলিসির কোনো পরিবর্তন হলে তাৎক্ষণিকভাবে তা আমাদের ওয়েবসাইটে আপডেট করা হবে, এবং ব্যবহারকারীদের সেই পরিবর্তনের বিষয়টি অবহিত করা হবে।</p>
                    </div>
                    <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <h3 class="">ব্যবহারের শর্তাবলী:</h3>
                        <p class="mb-6">"অন্বেষণ" ই-লার্নিং প্ল্যাটফর্মের সব সেবা এবং কন্টেন্ট ব্যবহারের ক্ষেত্রে কিছু নির্দিষ্ট শর্ত মেনে চলতে হবে। আমাদের প্ল্যাটফর্মে নিবন্ধিত প্রতিটি ব্যবহারকারীকে এই শর্তাবলী মেনে চলতে হবে। আমাদের সাইটে নিবন্ধন করার মাধ্যমে আপনি আমাদের শর্তাবলী গ্রহণ করছেন এবং সেই অনুযায়ী ব্যবহার করছেন।</p>
                        <p class="mb-6">আমাদের প্ল্যাটফর্মে প্রদত্ত কোর্স এবং শিক্ষাগত কন্টেন্ট শুধুমাত্র ব্যক্তিগত এবং শিক্ষামূলক উদ্দেশ্যে ব্যবহারের জন্য। আপনি এই কন্টেন্ট কোনোভাবেই পুনরায় বিক্রি, শেয়ার, বা বাণিজ্যিক উদ্দেশ্যে ব্যবহার করতে পারবেন না।</p>
                        <p class="mb-6">আপনার ব্যক্তিগত অ্যাকাউন্টের নিরাপত্তার জন্য আপনি দায়ী থাকবেন এবং পাসওয়ার্ড গোপন রাখার বিষয়টি নিশ্চিত করবেন। আপনি যদি আপনার অ্যাকাউন্টের নিরাপত্তা লঙ্ঘনের সন্দেহ করেন, অবিলম্বে আমাদের জানাতে হবে।</p>
                        <p class="mb-6">আমাদের ওয়েবসাইটের কন্টেন্ট, ডিজাইন, এবং লোগোসহ সমস্ত তথ্য "অন্বেষণ" এর মেধাস্বত্ব এবং কোনো অনুমতি ছাড়া তা ব্যবহার, কপি, বা বিতরণ করা যাবে না।</p>
                        <p class="mb-6">আমাদের শর্তাবলী মাঝে মাঝে আপডেট হতে পারে, এবং আমরা ব্যবহারকারীদের সেই পরিবর্তন সম্পর্কে অবহিত করবো। আপনি যদি আমাদের শর্তাবলী বা নীতিমালা মেনে চলতে ব্যর্থ হন, তাহলে আপনার অ্যাকাউন্ট সাময়িকভাবে বা স্থায়ীভাবে নিষ্ক্রিয় হতে পারে।</p>
                        <p class="mb-6">আমাদের লক্ষ্য হলো আপনার শিক্ষাগত প্রয়োজন মেটানো এবং একইসাথে ন্যায্য ও সুষ্ঠু পরিবেশ বজায় রাখা।</p>
                        
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <h3 class="">রিফান্ড নীতিমালা:</h3>
                        <p class="mb-6"> "অন্বেষণ" ই-লার্নিং প্ল্যাটফর্মে আমরা শিক্ষার্থীদের সুবিধা ও সন্তুষ্টি নিশ্চিত করতে রিফান্ডের সুযোগ প্রদান করি। তবে, রিফান্ডের জন্য নির্দিষ্ট কিছু শর্ত এবং নীতিমালা মেনে চলতে হবে। আপনার ক্রয়কৃত কোর্সের জন্য রিফান্ড আবেদন করতে হলে, ক্রয় করার ৭ দিনের মধ্যে তা করতে হবে। এই সময়ের মধ্যে যদি আপনি কোর্সের কোনো অংশ দেখতে শুরু করেন এবং ২৫% এর বেশি সম্পন্ন করেন, তাহলে রিফান্ডের জন্য আবেদন অযোগ্য হবে। এছাড়া, যেকোনো ধরনের সার্টিফিকেট কোর্সের জন্য যদি সার্টিফিকেট অর্জন করা হয়ে যায়, তাহলে রিফান্ড পাওয়া যাবে না।</p>
                        <p class="mb-6">আমাদের রিফান্ড প্রক্রিয়া সম্পন্ন করতে আপনাকে আপনার ক্রয়ের প্রমাণাদি এবং রিফান্ড চাওয়ার সঠিক কারণ জানাতে হবে। আপনি যদি টেকনিক্যাল সমস্যার কারণে কোর্সটি অ্যাক্সেস করতে না পারেন, এবং আমাদের টিম সেই সমস্যার সমাধান করতে ব্যর্থ হয়, তাহলে সম্পূর্ণ টাকা ফেরত দেওয়া হতে পারে। আমরা রিফান্ড প্রক্রিয়া শুরু করার পর সর্বোচ্চ ১৪ কার্যদিবসের মধ্যে টাকা ফেরত দেওয়ার প্রক্রিয়া সম্পন্ন করার চেষ্টা করি।</p>
                        <p class="mb-6">রিফান্ডের ক্ষেত্রে, যেকোনো ধরনের ডাউনলোডেবল কন্টেন্ট যেমন বই, ভিডিও, সফটওয়্যার ইত্যাদি ব্যবহারের পর রিফান্ডের আবেদন গ্রহণ করা হবে না। আমাদের উদ্দেশ্য শিক্ষার্থীদের সর্বোচ্চ মানের শিক্ষা প্রদান করা এবং তাদের সন্তুষ্টি নিশ্চিত করা। যদি কোনো শিক্ষার্থী কোর্স নিয়ে সমস্যায় পড়েন, তবে আমরা রিফান্ড ছাড়াও অন্যান্য সমাধানের বিকল্প বিবেচনা করি, যেমন কোর্স পরিবর্তন বা সাপোর্ট টিমের মাধ্যমে সহায়তা প্রদান করা।</p>
                        <p class="mb-6">আমরা শিক্ষার্থীদের প্রতি সম্মান রেখে রিফান্ড প্রক্রিয়া পরিচালনা করি এবং আপনাদের সহায়তা করতে সর্বদা প্রস্তুত আছি। তাই যেকোনো সমস্যা হলে আমাদের সাথে যোগাযোগ করুন এবং আমরা আপনার জন্য একটি সমাধান খুঁজে বের করার চেষ্টা করবো।</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
